// Table of content

// 01 header

// 01 header
.navbar {
  box-shadow: 0 4px 10px rgb(25 25 25 / 10%);
}
.navbar-brand {
  color: #fff !important;
  font-size: 3rem !important;
  font-weight: 600;
}
.wrapper {
  margin-top: 98px;
}
dropdowm items a#basic-nav-dropdown {
  padding: 10px 28px;
}
.text-light.nav-item.dropdown {
  background: #fff;
  border-radius: 6px;
  svg {
    margin-right: 0.5rem;
  }
}
.dropdown-item {
  margin: 8px 0 !important;
}
.dropdown-menu.show {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 16px;
}

// search controler
input.ms-4.me-4.py-2.form-control {
  padding: 12px 12px !important;
}
svg.angled {
  transform: rotate(180deg);
}
span.show {
  visibility: visible;
  transition: 0.15s;
}

form {
  width: 100%;
  input {
    width: 100%;
  }
}
// desktop menu

.menu {
  ul {
    padding: 0;
    li {
      padding: 0 16px;
      a {
        line-height: 4rem;
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
      }
    }
  }
}
.bottomSticky {
  display: none !important;
}
@media (max-width: 1024px) {
  #basic-navbar-nav {
    display: none !important;
  }

  a.navbar-brand {
    width: 100%;
    text-align: center;
    font-size: 2rem !important;
    color: #fff !important;
    font-weight: 800;
    span {
      color: #103178;
    }
  }
  .addtoUtems {
    display: none;
  }
  .bottomSticky {
    display: block !important;
    background: #fff;
  }
  .wrapper {
    margin-top: 70px;
  }
  nav.bg_color.navbar.navbar-expand {
    background: #fff;
  }
  .carousel-control-next span::before {
    right: 10px !important;
  }
  .carousel-control-next span::after {
    width: 35px !important;
    height: 35px !important;
    left: -35px !important;
  }
  .carousel-control-prev span::after {
    content: "";
    width: 35px !important;
    height: 35px !important;
    left: 28px;
  }
  .bottomSticky {
    .navbar-nav {
      width: 100%;
      a {
      }
    }
  }
  .addtoUtems {
    display: none;
  }
}
@media (max-width: 444px) {
  .addToCartItems {
    width: 240px !important;
  }
}
// .addToCartItems {
//   width: 240px;
//   background: #fff;
//   position: absolute;
//   top: 0;
//   right: 0;
//   height: 100%;
//   transition: 0.15s;
//   transition-duration: 5s;
//   transition-delay: 2s;
// }
// Bottom sticky
.me-auto.navbar-nav {
  display: flex;
  justify-content: space-between !important;
}
.account {
  line-height: 4rem;
  margin-left: 4px;
  svg {
    color: #fff;
    font-size: 2rem;
  }
}
