.modal-backdrop {
  background: #00000070 !important;
}
body.modal-open {
  overflow: hidden !important;
}

.categories {
  color: #000;
  font-weight: 600;

  span {
    margin-left: 1.5rem;
    padding: 4px 14px;
    background: #fff;
    border: 1px solid #ddd;
  }
}

// inrements value
.incrementValue {
  div {
    display: inline-block;
    background: #fff;
    font-size: 1.4rem;
    border-radius: 0.3rem;
    overflow: hidden;

    button {
      background: #103178;
      color: #fff;
      padding: 4px 8px;
    }
    span {
      margin: 0 5px;
    }
  }
}

.react-loading-skeleton {
  line-height: inherit !important;
}
