.increOrDec {
  display: flex;
  flex-direction: column;
  background: #dddddd8a;
  padding: 0 12px;
  border-radius: 65px;
  button {
    border: none;
    font-weight: 300;
    background: transparent;
    font-size: 30px;
    padding: 0;
    margin: 0;
  }
}

// .itemImage {
//   max-width: 64px;
//   img {
//     max-width: 100%;
//   }
// }

.title_price {
  display: flex;
  flex-direction: column;
  span {
    font-weight: 600;
  }
  .qty {
    font-size: 12px;
  }
}

.totallPrices {
  background: #fff;
  color: #0009;
  padding: 6px 12px;
  border-radius: 8px;
  margin-top: 10px;
  font-weight: 700;
  width: 100%;
}

span.discount {
  display: inline-block;
  background: #f59e0b;
  color: #fff;
  right: 8px;
  position: absolute;
  top: 5%;
  padding: 1px 12px;
  border-radius: 14px;
}
.itemBottom {
  width: 100%;
}
.emptyCart {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  svg {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
}

nav.navbar.navbar-light.bg-light {
  z-index: 9;
  right: 0;
  top: 50%;
  position: fixed;
}
