.color_theme {
  color: #103178;
}
.bg_color,
#bg_color {
  background: #103178 !important;
  box-shadow: none !important;
  color: #fff !important;
}
.bg_theme {
  background: #fff;
  position: relative;
  top: 1rem;
  border-radius: 8px;
  padding: 7px 20px;
  font-size: 18px;
  color: #000;
}

.btn_theme {
  background: #fff;
  border-radius: 8px;
  border: 1px solid #ddd;
}

hr {
  color: #ada9a9;
  margin-top: 1rem;
  margin-bottom: 0rem;
}

// .itemFoooter {
//   button:hover {
//     background: #009f7fcc;
//   }
// }
.pill {
  border-radius: 50rem !important;
}

button {
  border: none;
  background: transparent;
}
button:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.p-7 {
  padding: 0 7rem;
}
